.card-header,.btn-primary{
    color: #fff !important;
    background-color: #000 !important;
}
/* 
.btn{
    width: 100%;
} */

.btn:hover{
    color: #000 !important;
    background-color: #fff !important;
}

.text{
    text-decoration: none;
    color:#000;
}
.logout-text{
    text-decoration: none;
    color:#f00
}
